
.content{
  width:1200px;
  height:100%;
  margin:0 auto;
}
/* .banner-left{width:1100px;margin:0 auto;}
.banner-right{width:100px;margin-top:390px;} */
.details-banner{display: flex;}
.banner-right{margin-top:347px;margin-left:10px;}
/* .banner-left>img{
  display:none;
}
.banner-left>.active{
  display:block;
} */
.banner-right img{width:100px;height:100%;margin-top:10px;}
.banner-right img:hover{border: 1px solid #724228;}
/* .details-count{height:200px;} */
div.details-count{
  height: 415px;
  border-bottom: 1px solid #D8D8D8;
}

.content-left{width:484px;height:323px;}
.detais-title{font-weight:normal;margin-bottom:0;}
.content-left h1{   
  font-size: 20px;
  line-height:25px;
}
.content p。font-red{color:#f00;margin-bottom:5px;}
.sm{display: flex;}
.smimg{width: 50px;height:50px;vertical-align: middle;}
.smtext{height:50px;line-height:50px;}
.text-explain{line-height: 1.5rem;margin-bottom:15px;}

i{
  display: inline-block;
  vertical-align: middle;
  height: 34px;
  width: 30px;
  background: url(../images/icon.png) no-repeat;
  background-size:240px auto;
  margin: 0 10px;
}
.td{
  margin-top:7px;
}
span i:first-child,.td>i{
  background: url(../images/sweet.png) no-repeat;
  background-size: 25px auto;
}
.td span i{
  background-size: 20px auto;
  margin:10px 0px;
  position: relative;
  top:5px;
}
.td span i:nth-child(1),
.td span i:nth-child(2),
.td span i:nth-child(3){
  background:url(../images/sweet_02.png) no-repeat; 
}
.td span i:nth-child(4),
.td span i:nth-child(5){
  background:url(../images/sweet_01.png) no-repeat; 
}
.text-explain+li i{      background-position: -116px 6px;}


/* 右侧图文 */
.content-right{
  width:630px;height:404px;
  margin-top:20px;
  position: absolute;
  top:630px;
  right:400px;
}
.content-right>img{
  width:300px;
  height:170px;
}
 .img-box-details{
  position: absolute;
  top:0;
  right:100px;
}
.img-box-details li i{
  width:15px;
} 
.img-box-details li:last-child{color:#C69C6D;}
.img-box-details li:first-child i{
  background-position: -165px 3px;
}
.img-box-details li:nth-child(2) i{
  background-position: -185px 3px;
}
.img-box-details li:nth-child(3) i{
  background-position: -203px 3px;
}
.img-box-details li:nth-child(4) i{
  background-position: -223px 3px;
}


.powder{
  margin-top:30px;
}
dl{margin:-15px;}
dl dd ul,dt{display: flex;}
dl dd ul{ position: relative;top:-24px;left: 65px;}
dl dd ul li{ margin-right:10px; }
dl dd li a{
  color:#684029;
  width: 60px;
  height:30px;
  border: 1px solid #e7e0dd;
  text-align: center;
  line-height:30px;
  padding: 7px;
  /* display: block; 
  position: relative; 
  top:-37px;
  left:70px;*/
}
dl dd li a:hover{
  color:#C69C6D;
  text-decoration:none;
}
dl dd li a:active{
  border:1px solid #684029;
}
dd ul li img{
  width: 36px;height: 36px;
  border:1px solid #e7e0dd;
}


.details-button{height: 40px;}
.details-button a{
  display: inline-block;
  width: 167px;height: 30px;
  margin-right:10px;
  border:0;
  cursor: pointer;
  font-size:13px;
  border-radius:3px;
  text-align: center;
  line-height:30px;
  background: #F4F4F4;
}
.details-button a.details-buy{
  color: #7A5844;
}
.details-button a.detais-buy:hover{    background: #efefef;}

.details-button a.details-cart{
  background: #684029;
  color: #fff;
}
.details-button a.details-cart:hover{
  background: #482618; 
  color: #fff;  
}
p.font-gray{
  color: rgb(102, 102, 102);
}

.recommend-box{
  overflow: hidden;
  margin: 40px auto 50px;
  border: 1px solid #E1E1E1;
}
ul,img{
  display: flex;
  justify-content: space-around
}
.recommend-list li{
  width: 180px;height: 242px;
  margin:20px;
}
.recommend-list img{
  width: 180px;height: 198px;
}